<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Запись</title>
    <link rel="stylesheet" type="text/css" href="/static/CSS/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/CSS/style_books.css"/>



{#______________________________________________________________#}
    {% macro render_list(title, name, relation, selected) %}

        <details >
            <summary ><b>{{ title }}</b></summary>
            {% set n = len(relation) %}
            {% for i in range(n) %}
                {% if relation.iloc[i][3] == title%}
                    {% if relation.iloc[i][1] in selected %}
                        <input checked type="checkbox" name={{ name }} value='{{ relation.iloc[i][1] }}' id=
                                {{ name }}{{ i }}>
                        <label for={{ name }}{{ i }} class="details_label">{{ relation.iloc[i][1] }}
                            ({{ relation.iloc[i][2] }} ₽)</label>
                        <br>
                    {% else %}
                        <input type="checkbox" name={{ name }} value='{{ relation.iloc[i][1] }}' id=
                                {{ name }}{{ i }}>
                        <label for={{ name }}{{ i }} >{{ relation.iloc[i][1] }}
                            ({{ relation.iloc[i][2] }}₽)</label>
                        <br>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </details>

    {% endmacro %}
{#________________________________________________________________________________#}
</head>
<body>
<div class=menu>
    <ul>
        <li class=active><a href={{ url_for("index") }}>Выбрать услугу</a></li>
    </ul>
</div>
<div class="container">
<div class="form">

    <form>
    {{ render_list('Парикмахер', 'barber' , service, barber_list)}}
    {{ render_list('Маникюр', 'nail' , service, nail_list)}}
    {{ render_list('Шугаринг', 'shugaring' , service, shugaring_list)}}
    {{ render_list('Визажист', 'makeup' , service, makeup_list)}}
    {{ render_list('Косметолог', 'cosmetolog' , service, cosmetolog_list)}}

     <input type="submit" class="button_1" value="Выбрать мастера">
     <input type="submit" name="data_choise" class="button_1" value="Выбрать дату">
        </form>

    </div>
</div>


</body>
</html>