<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Запись в салон</title>
    <link rel="stylesheet" type="text/css" href="/static/CSS/style_for_menu.css"/>
    <link rel="stylesheet" type="text/css" href="/static/CSS/frame_style.css"/>

    <link href="/static/icon.png" rel="icon" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


    {% macro render_list(name, relation, masters) %}
        {% for title in masters %}
        <details open>
            <summary id="test"><b>{{ title }}</b></summary>
            {% set n = len(relation) %}
            {% for i in range(n) %}
                {% if relation.iloc[i][2] == title%}
                        <input type="checkbox" name={{ name }} value='{{ relation.iloc[i][0] }}' id=
                                {{ name }}{{ i }}>
                        <label for={{ name }}{{ i }}> {{ relation.iloc[i][1] }} </label>
                        <br>
                {% endif %}
            {% endfor %}
        </details>
    {% endfor %}
    {% endmacro %}
<script>$(document).on('ready', function() {
  var checkboxes = $("input[type=checkbox]");
  $("#form").on('submit', function(e) {
    var checker = false;
    checkboxes.each(function() {
      if ($(this).prop('checked') == true) {
        checker = true;
      }
    });

    if (checker == false) {
      e.preventDefault();
      console.log('не выбран ни один чекбокс, форма не отправлена');
    } else {
      console.log('выбран хотя бы 1 чекбокс, форма отправлена');
    }
  });
});</script>
{#-----------------------------------------------------------------------------------------#}
</head>
<body>
<div class=menu>
    <ul>
        <li><a href={{ url_for("index") }}>Выбрать услугу</a></li>
        <li class=active><a>Выбрать мастера</a></li>
    </ul>
</div>

{% if add_procedure_list %}

    <form id="form" action={{ url_for("masterdatepage") }} method="get" class="decor">
        <div class="form-inner">
            <h3>Выберите мастера:</h3>
                <form class="form">
                    {{ render_list('masters', masters, add_procedure_list) }}
                    <input type="submit" class="button_1" value="Показать">
                </form>
        </div>
    </form>
    </form>

{% else %}
    Пожалуйста, выберите услуги!
{% endif %}


</body>
</html>