<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Проверте данные</title>
        <link rel="stylesheet" type="text/css" href="/static/CSS/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/CSS/style_books.css"/>
</head>
<body>
<div class=menu>
    <ul>
        <li><a href={{ url_for("index") }}>Выбрать услугу</a></li>
        <li >Выбрать мастера</li>
        <li >Выбрать время</li>
        <li class="active">Проверьте данные</li>
    </ul>
</div>

hello world
</body>
</html>