{% macro render_spisok(title, relation) %}

<details>
        <summary><b>{{title}}</b></summary>
        {% set n = len(relation) %}
        {% for i in range(n) %}
        <label><input type="checkbox" id="{{title}}.{{i}}" />{{ relation.iloc[i,0] }} ({{ relation.iloc[i,1] }})</label>
        <Br>
        {% endfor %}
</details>

{% endmacro %}



{%  macro grid_spisok(relation) %}

{% set n = len(relation) %}
{% for i in range(n) %}
    <div class = "{{i}}">

    {% for name in relation.dtypes.index %}
        <b>{{name}}: </b>{{relation.loc[i,name]}}<br>
    {% endfor %}
    <input type="submit" class="grid_knopka" value="Выбрать">
    </div>

{% endfor %}

{% endmacro %}
