<!DOCTYPE html>

{% macro func_name(func) %}
{% for i in range(count_f) %}
    {% if i == n_var %}
        <span >{{list_f[i]}}</span>
    {% endif %}
{% endfor %}
{% endmacro %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Таблица и график функции </title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<form>
    <p>Функция:
        <select name=func>
            {% for i in range(count_f) %}
            {% if n_var == i %}
            <option selected value={{i}}> {{list_f[i]}}</option>
            <script type="text/javascript">
            var a = "{{i}}";
            </script>
            {% else %}
            <option value={{i}}> {{list_f[i]}}</option>
            {% endif %}
            {% endfor %}
        </select></p>
    <p>Начало интервала: <input type=text name=beg_i value={{a}} size=1></p>
    <p>Конец интервала: <input type=text name=end_i value={{b}} size=1></p>
    <p>Количество значений: <input type=text name=count_p value={{n}} size=1></p>
    <p>График: <input id="1" class="button"  type=button value="Построить"></p>
</form>

<span id="2" style="opacity: 0">

    <div class="container_1" id="test">
    </div>

    </p>
    <div class="container" >
         <div >
             <table width="200" >
                <tr>
                <th>x</th>
                <th>
                    {{ func_name(list_f) }}
                </th>
                </tr>
                <tbody>
                {%  if  len(x)<=20 %}
                    {% for i in range(len(x)) %}
                    <tr>
                    <td>{{round(x[i],3)}}</td>
                    <td>{{round(y[i],2)}}</td>
                    </tr>
                                {% endfor %}

                {% else %}
                {% for i in range(10) %}
                    <tr>
                    <td>{{round(x[i],3)}}</td>
                    <td>{{round(y[i],2)}}</td>
                    </tr>
                {% endfor %}
                    <font size="5" face="Courier New">

                <tr align="center">
                      <td colspan="2" style="font-size: 24px;" > . . . </td>
                </tr>
                    </font>


                <tr>
                <td> {{round(x[len(x)-2],3)}} </td>
                <td> {{round(y[len(x)-2],2)}} </td>
                </tr>
                <tr>
                <td>{{round(x[len(x)-1],3)}}</td>
                <td>{{round(y[len(x)-1],2)}}</td>
                </tr>


                {% endif %}
                </tbody>
             </table>
         </div>
        <div><img src="pict.jpg" alt="график">
        </div>

    </div>
</span>
</p>
</div>

</body>
<script src="script.js"></script>
</html>